html {
  scroll-behavior: smooth;
}
body {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  width: 275px;
  height: 75px;
  border-radius: 5px;
  box-shadow: 4px 4px 30px black;
  padding: 15px;
  position: relative;
  top: 0px;
  z-index: 22;
  /* overflow-y: scroll; */
}
.container::-webkit-scrollbar {
  display: none;
}
.container form {
  /* width: 100%; */
  /* border: 1px solid gray; */
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container form input {
  border: none;
  outline: none;
  box-shadow: none;
  /* width: 100%; */
  font-size: 16px;
  font-weight: 600;
  padding: 10px 10px;
  border-radius: 5px;
}
.container form i {
  padding-right: 10px;
  color: aqua;
}
.item-list {
  display: none;
  background: gray;
  border-radius: 10px;

  
}
.product {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 15px;
  border: 2px solid black;
 border-radius: 5px;
}
.product img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 5px;
}
.product .p-details {
  padding: 15px;
}
.product .p-details h2 {
  font-size: 20px;
  color: black;
}
.product .p-details h3 {
  font-size: 18px;
}


nav {
  background-color: black;
  color: white;
  padding: 20px 50px;
}
.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  display: flex;
  align-items: center;
  background-color: gray;
  padding: 10px 20px;
  border-radius: 10px;
}
.searchInput {
  border: none;
  background-color: transparent;
}
.searchInput::placeholder {
  color: lightgray;
}
.limitedOffer {
  font-size: 20px;
  border-bottom: 3px solid yellow;
  cursor: pointer;
}
.navBottom {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menuItem {
  margin-right: 50px;
  color: gray;
  font-weight: 400;
  cursor: pointer;
}
.navItem a{
  text-decoration: none;
}
.slider {
  background: url("./img/wall.jpg");
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  overflow: hidden;
}
.sliderWrapper {
  display: flex;
  width: 600vw;
  transition: all 1s ease-in-out;
}
.sliderItem {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.sliderBg {
  width: 700px;
  height: 700px;
  border-radius: 50%;
  position: absolute;
  background-color: yellow;
}
.sliderImg {
  z-index: 1;
  height: 700px;
  width: 700px;
}

.sliderTitle {
  position: absolute;
  top: 10%;
  right: 5%;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  color: chocolate;
  z-index: 1;
}
.sliderPrice {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  color: chocolate;
  border: 3px solid green;
  background: ghostwhite;
  padding: 15px;
  z-index: 1;
}
.buyButton {
  position: absolute;
  top: 60%;
  right: 10%;
  font-size: 30px;
  font-weight: 900;
  color: whitesmoke;
  cursor: pointer;
  border: 1px solid chocolate;
  z-index: 1;
  background-color: black;
  padding: 10px;
}

.sliderItem:nth-child(1) .sliderBg {
  background-color: purple;
}
.sliderItem:nth-child(2) .sliderBg {
  background-color: purple;
}
.sliderItem:nth-child(3) .sliderBg {
  background-color: orange;
}
.sliderItem:nth-child(4) .sliderBg {
  background-color: blue;
}
.sliderItem:nth-child(5) .sliderBg {
  background-color: gold;
}
.sliderItem:nth-child(6) .sliderBg {
  background-color: red;
}
.sliderItem:nth-child(1) .sliderPrice {
  color: green;
}
.sliderItem:nth-child(2) .sliderPrice {
  color: purple;
}
.sliderItem:nth-child(3) .sliderPrice {
  color: orange;
}
.sliderItem:nth-child(4) .sliderPrice {
  color: pink;
}
.sliderItem:nth-child(5) .sliderPrice {
  color: gold;
}
.sliderItem:nth-child(6) .sliderPrice {
  color: red;
}

.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.featureImg {
  width: 50px;
  height: 50px;
}

.featureTitle {
  font-size: 20px;
  font-weight: 600;
  margin: 20px;
}
.featureDesc {
  color: gray;
  width: 45%;
  height: 100px;
}
.products {
  height: 100vh;
  background-color: whitesmoke;
  position: relative;
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
}

.payment {
  height: 600px;
  width: 600px;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px 40px;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 29px -4px rgba(0, 0, 0, 0.91);
  box-shadow: 0px 0px 29px -4px rgba(0, 0, 0, 0.91);
}
.payTitle {
  font-size: 20px;
  color: gray;
}

label {
  font-size: 14px;
  font-weight: 300;
}
.payInput {
  padding: 10px;
  margin: 10px 0px;
  border: none;
  border-bottom: 1px solid gray;
}
.payInput::placeholder {
  color: cadetblue;
}

.cardIcons {
  display: flex;
}
.cardIcon {
  margin-right: 10px;
}
.cardInfo {
  display: flex;
  justify-content: space-between;
}

.sm {
  width: 30%;
}
.payButton {
  position: absolute;

  height: 40px;
  bottom: -40px;
  width: 100%;
  left: 0;
  -webkit-box-shadow: 0px 0px 29px -4px rgba(0, 0, 0, 0.91);
  box-shadow: 0px 0px 29px -4px rgba(0, 0, 0, 0.91);
  background-color: #105510;
  color: white;
  cursor: pointer;
  border: none;
}
.close {
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: gray;
  color: white;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 2px;
}

.productImg {
  width: 50%;
}
.productDetails {
  position: absolute;
  top: 10%;
  right: 0;
  width: 40%;
  padding: 50px;
}

.productTitle {
  font-size: 75px;
  font-weight: 900;
}
.productDesc {
  font-size: 24px;
  color: gray;
}
.colors,
.sizes {
  display: flex;
  margin-bottom: 20px;
}
.color {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  background-color: black;
  margin-right: 10px;
  cursor: pointer;
}
.color:last-child {
  background-color: blue;
}
.size {
  padding: 5px 20px;
  border: 1px solid black;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.productButton {
  float: right;
  padding: 10px 20px;
  background-color: black;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.productButton:hover {
  background-color: white;
  color: black;
}

.payInput{
  transition: all 1s ease-in-out;
}
.price-output{
  transition: all 1s ease-in-out;
}

.gallery {
  display: flex;
  padding: 50px;
}
.galleryItem {
  flex: 1;
  padding: 50px;
}
.galleryImg {
  width: 100%;
  height: 500px;
}
.newSeason {
  display: flex;
}
.nsItem {
  flex: 1;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.nsImg {
  width: 100%;
  height: 500px;
}
.nsTitle {
  font-size: 40px;
}
.nsButton {
  padding: 15px;
  font-weight: 600;
  cursor: pointer;
}
footer {
  display: flex;
}
.footerLeft {
  flex: 2;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
.fMenuTitle {
  font-size: 16px;
}
.fList {
  padding: 0;
  list-style: none;
}

.fListItem {
  margin-bottom: 10px;
  color: gray;
  cursor: pointer;
}
.footerRight {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fInput {
  padding: 5px;
}
.fButton {
  padding: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
}
.fIcons {
  display: flex;
}
.fIcon {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
.copyright {
  font-weight: 300;
  font-size: 14px;
}


/* form{
  background-color: black;
  color: white;
} */

@media screen and (max-width: 480px) {
  nav {
    padding: 20px;
  }
  
  .search {
    display: none;
  }
  .navBottom {
    flex-wrap: wrap;
  }
  .menuItem {
    margin: 20px;
    font-weight: 700;
    font-size: 17px;
  }
  .slider {
    clip-path: none;
  }
  .sliderImg {
    width: 90%;
  }
  .sliderBg {
    width: 100%;
    height: 100%;
  }
  .sliderTitle {
    display: none;
  }
  .sliderPrice {
    top: unset;
    bottom: -50px;
    left: 0;
    background-color: gray;
  }
  .buyButton {
    top: unset;
    top: 0;
    right: 0;
  }
  .features {
    flex-direction: column;
  }
  .product {
    clip-path: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 280px;
  }
  .productImg {
    width: 80%;
  }
  .productDetails {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    top: 0;
  }
  .productTitle {
    font-size: 50px;
    margin: 0;
  }
  .gallery {
    display: none;
  }
  .newSeason {
    flex-direction: column;
  }
  .nsItem:nth-child(2) {
    padding: 50px;
  }
  footer {
    flex-direction: column;
    align-items: center;
  }
  .footerLeft {
    padding: 20px;
    width: 90%;
  }
  .footerRight {
    padding: 20px;
    width: 90%;
    align-items: center;
    background-color: white;
  }
  .payment {
    width: 90%;
    padding: 20px;
  }
}
